In [1]:
import pandas as pd

In [12]:
columns ={
        "placa": "placa",
        "ordem": "id_veiculo",
        "permissao": "permissao",
        "modal": "modo",
        "ultima_vistoria": "data_ultima_vistoria",
        "cod_planta": "id_planta",
        "cod_mod_carroceria": "id_carroceria",
        "cod_fab_carroceria": "id_interno_carroceria",
        "des_mod_carroceria": "carroceria",
        "cod_mod_chassi": "id_chassi",
        "cod_fab_chassi": "id_fabricante_chassi",
        "des_mod_chassi": "nome_chassi",
        "lotacao_sentado": "quantidade_lotacao_sentado",
        "lotacao_pe": "quantidade_lotacao_pe",
        "elevador": "indicador_elevador",
        "ar_condicionado": "indicador_ar_condicionado",
        "tipo_veiculo": "tipo_veiculo",
        "combustivel": "tipo_combustivel",
        "portas": "quantidade_portas",
        "ano_fabricacao": "ano_fabricacao",
        "wifi": "indicador_wifi",
        "usb": "indicador_usb",
    }

file = "E:\\SMTR\\Cadastro_de_Veiculos.txt"

data = pd.read_csv(file, sep=";", names=columns.values())

data.head()

,placa,id_veiculo,permissao,modo,data_ultima_vistoria,id_planta,id_carroceria,id_interno_carroceria,carroceria,id_chassi,...,quantidade_lotacao_sentado,quantidade_lotacao_pe,indicador_elevador,indicador_ar_condicionado,tipo_veiculo,tipo_combustivel,quantidade_portas,ano_fabricacao,indicador_wifi,indicador_usb
0,KXB4265,C47589,22.100001-4,ONIBUS,08/08/2018,2736,102,102,NEOBUS - SAN MARINO,226,...,32,32,Sim,Sim,29 MIDIONBUS URBAN C/AR C/ELEV,DIESEL,2,2010,Nao,Nao
1,KXB4541,C47552,22.100001-4,ONIBUS,26/03/2018,2736,102,102,NEOBUS - SAN MARINO,226,...,32,32,Sim,Sim,29 MIDIONBUS URBAN C/AR C/ELEV,DIESEL,2,2010,Nao,Nao
2,KXB4884,C51633,22.100001-4,ONIBUS,06/07/2022,3054,62,62,INDUSCAR - CAIO,258,...,40,39,Sim,Sim,51 ONIBUS BS URB C/AR C/E 2CAT,DIESEL,2,2018,Nao,Nao
3,KXB6416,C30013,22.100001-4,ONIBUS,15/08/2019,2969,62,62,INDUSCAR - CAIO,258,...,43,38,Sim,Sim,31 ONBUS BASIC URB C/AR C/ELEV,DIESEL,2,2014,Nao,Nao
4,KXC4177,C47791,22.100001-4,ONIBUS,08/10/2018,2736,102,102,NEOBUS - SAN MARINO,226,...,32,32,Sim,Sim,29 MIDIONBUS URBAN C/AR C/ELEV,DIESEL,2,2010,Nao,Nao

In [13]:
key_columns = ["placa", "data_ultima_vistoria"]
columns = key_columns + ["timestamp_captura", "content"]
df = pd.DataFrame(columns=columns)  # pylint: disable=c0103

df[key_columns] = data[key_columns].copy()
df

        placa data_ultima_vistoria timestamp_captura content
0     KXB4265           08/08/2018               NaN     NaN
1     KXB4541           26/03/2018               NaN     NaN
2     KXB4884           06/07/2022               NaN     NaN
3     KXB6416           15/08/2019               NaN     NaN
4     KXC4177           08/10/2018               NaN     NaN
...       ...                  ...               ...     ...
5966  KWP4300           17/04/2018               NaN     NaN
5967  KWP4624           31/05/2016               NaN     NaN
5968  KWP6824           25/05/2016               NaN     NaN
5969  KWP6825           11/10/2018               NaN     NaN
5970  KWP6826           26/07/2016               NaN     NaN

[5971 rows x 4 columns]

In [24]:
data[data.columns.difference(key_columns)].apply(lambda x: x.to_dict(), axis=1)
#df["content"] = 
#print(df["content"])

0       {'ano_fabricacao': 2010, 'carroceria': 'NEOBUS...
1       {'ano_fabricacao': 2010, 'carroceria': 'NEOBUS...
2       {'ano_fabricacao': 2018, 'carroceria': 'INDUSC...
3       {'ano_fabricacao': 2014, 'carroceria': 'INDUSC...
4       {'ano_fabricacao': 2010, 'carroceria': 'NEOBUS...
                              ...
5966    {'ano_fabricacao': 2011, 'carroceria': 'MARCOP...
5967    {'ano_fabricacao': 2011, 'carroceria': 'MARCOP...
5968    {'ano_fabricacao': 2014, 'carroceria': 'MARCOP...
5969    {'ano_fabricacao': 2014, 'carroceria': 'MARCOP...
5970    {'ano_fabricacao': 2014, 'carroceria': 'MARCOP...
Length: 5971, dtype: object